/* LAYOUT */
@font-face
{
    font-family: 'gothambookregular';
    src: url('../../Resources/fonts/gothambook-webfont.eot');
    src: url('../../Resources/fonts/gothambook-webfont.eot?#iefix') format('embedded-opentype'), url('../../Resources/fonts/gothambook-webfont.woff') format('woff'), url('../../Resources/fonts/gothambook-webfont.ttf') format('truetype'), url('../../Resources/fonts/gothambook-webfont.svg#gothambookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'gothamlightregular';
    src: url('../../Resources/fonts/gothamlight-webfont.eot');
    src: url('../../Resources/fonts/gothamlight-webfont.eot?#iefix') format('embedded-opentype'), url('../../Resources/fonts/gothamlight-webfont.woff') format('woff'), url('../../Resources/fonts/gothamlight-webfont.ttf') format('truetype'), url('../../Resources/fonts/gothamlight-webfont.svg#gothamlightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Responsive Images */
img, img.scale-with-grid { outline: 0; max-width: 100%; height: auto; }
body
{
    background: #fff;
    font-family: Arial;
    color: #280b00;
}
.be_640
{
    /*min-width: 640px;*/
    width: 100%;
}
.clear
{
    clear: both;
}
.active
{
    display: block;
}
.hidden
{
    display: none;
}
.padded32
{
    padding: 32px;
}
.font-bold
{
    font-weight: bold;
}
.font-gotham
{
    font-family: 'gothambookregular';
}
.font-gothamlight
{
    font-family: 'gothamlightregular';
}
.blue_button
{
    background-color: #2686db;
    text-align: center;
    font-size: 24px;
    color: #fff;
    font-weight: normal;
    padding: 10px 0px;
    margin-bottom: 5px;
}
.blue_button a
{
    color: #fff;
    display: block;
    height: 100%;
    width: 100%;
}
.blue_button a:hover
{
    text-decoration: none;
}
.header .navigation
{
    background: #2a90e8;
    padding: 20px 0;
}
.navigation .more
{
    margin-right: 20px;
}
.navigation .home
{
    margin-right: 10px;
}
.navigation .search
{
    margin-right: 10px;
}
.header .logo
{
    background: #2686db;
}
.header .compete_menu
{
    padding-top: 4px;
    background: url('../images/compete_shadow.png') repeat-x;
    color: #fff;
    font-size: 45px;
}
.header .compete_menu a
{
    color: #FFF;
}
.header .compete_menu a:hover
{
    text-decoration: none;
}
.header .compete_menu .more_list
{
    margin-bottom: 6px;
}
.header .navigation, .header .logo, .header .compete_menu
{
    padding-left: 34px;
    padding-right: 34px;
}
.navigation .nav_btn
{
    background-color: #000;
    border-radius: 0px;
    display: block;
    float: left;
    padding: 12px 7px;
}
.navigation .nav_btn.home
{
    padding-left: 12px;
    padding-right: 12px;
}
.navigation .nav_btn.menu, .navigation .nav_btn.shopping_cart
{
    font-size: 28px;
    color: #fff;
    padding: 12px 20px 8px 20px;
}
.navigation .nav_btn.menu
{
    height: 60px;
}
.navigation .nav_btn.shopping_cart
{
    min-width: 132px;
}
.navigation .nav_btn.menu:hover, .navigation .nav_btn.shopping_cart:hover
{
    text-decoration: none;
}
.navigation .nav_btn.menu img
{
    margin-left: 10px;
}
.navigation .nav_btn.shopping_cart img
{
    margin-top: -3px;
}
.navigation .nav_btn.search
{
    padding-left: 15px;
    padding-right: 15px;
}
.header .logo, .footer .logo
{
    padding: 25px 0px;
    text-align: center;
}

ul.quicklinks
{
    list-style: none;
    padding: 0px;
    margin: 0px;
    border-top: 1px solid #dbd7d8;
}
ul.quicklinks li
{
    border-bottom: 1px solid #dbd7d8;
    padding: 8px 20px 8px 32px;
    font-size: 42px;
    font-weight: bold;
    color: #035bad;
}
ul.quicklinks li a
{
    color: #035bad;
    display: block;
}
ul.quicklinks li a img
{
    float: right;
    margin-top: 15px;
}
.other_links
{
    background: #2a90e8;
    padding-top: 42px;
    padding-left: 32px;
    font-size: 50px;
    color: #ffffff;
}
.other_links ul.website_links
{
    list-style: none;
    padding-left: 0px;
    padding-right: 32px;
}
.other_links ul.website_links li
{
    border-bottom: 1px dotted #95c8f4;
    padding-bottom: 18px;
    padding-top: 18px;
}
.other_links ul.website_links li img
{
    margin-right: 10px;
    margin-top: -5px;
}
.other_links ul.website_links a
{
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    display: block;
}
.other_links ul.contact_links, .other_links ul.contact_links a
{
    font-size: 25px;
    display: block;
    color: #ffffff;
    font-weight: normal;
}
.footer
{
    background: #2686db;
    margin-top: -11px;
    padding-bottom: 25px;
}
.footer .details
{
    font-size: 23px;
    color: #FFFFFF;
    padding-left: 32px;
}

/* INDEX 1 */
.single_event_wrapper
{
    padding: 22px 32px;
}
.single_event_wrapper .back
{
    font-size: 24px;
    color: #035bad;
}
.single_event_wrapper .event_name
{
    margin-top: 12px;
    font-size: 35px;
    color: #280b00;
    background: url('../images/single_event_lbl_fill.png') repeat-x;
    float: left;
    height: 58px;
    padding: 6px 12px 2px 12px;
}
.single_event_wrapper .event_name_r
{
    float: left;
    width: 60px;
    height: 58px;
    background: url('../images/single_event_lbl_r.png') no-repeat;
    margin-top: 12px;
}
.single_event_wrapper .event_short_desc
{
    font-size: 24px;
}
.single_event_wrapper .event_short_desc img
{
    margin-right: 9px;
}
.single_event_wrapper .event_short_desc .entries_open
{
    margin-bottom: 10px;
}
.single_event_wrapper .event_short_desc .event_info
{
    margin-top: 22px;
    line-height: 26px;
    padding-right: 14px;
}
.single_event_wrapper .sponsors .blue_button
{
    max-width: 290px;
    float: right;
    width: 100%;
}
.single_event_wrapper .sponsored_by
{
    font-weight: bold;
    font-size: 24px;
    color: #035bad;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 35px;
    max-width: 290px;
    float: right;
    width: 100%;
}
.single_event_wrapper .sponsored_by .sponsor_placeholder
{
    margin-top: 20px;
    height: 150px;
    background: #ff0099;
}
.single_event_wrapper .event_information
{
    margin-top: 30px;
    background: #f9f9f5;
    border: 1px solid #dedede;
    padding: 28px 20px;
    font-size: 24px;
    line-height: 26px;
    position: relative;
    overflow: hidden;
}
.event_information .event_info_btn
{
    max-width: 347px;
    text-align: left;
    padding: 14px 15px 10px 15px;
    font-weight: normal;
}
.event_information .event_info_btn img
{
    width: 20px;
    float: right;
    margin-top: 5px;
}
.event_information hr
{
    border-bottom: 1px solid #dedede;
    width: 120%;
    margin-left: -20px;
    margin-top: 45px;
    margin-bottom: 25px;
}
.event_information .event_title, .event_information .course_title, .event_information .classes_title
{
    font-size: 30px;
    color: #035bad;
    font-weight: bold;
    margin-bottom: 20px;
}
.event_information .location .part
{
    margin-bottom: 25px;
}
.event_information .location .part .contact_organiser, .event_information .more_course_desc, .event_information .more_from_fees
{
    margin-top: 15px;
    margin-bottom: 25px;
    float: left;
    font-size: 24px;
    color: #035bad;
}
.event_information .more_from_fees
{
    margin-bottom: 0px;
}
.event_information p
{
    margin-bottom: 18px;
}
.social_networks
{
    margin-top: 20px;
    margin-bottom: 48px;
}
.social_networks .twitter
{
    float: left;
    font-size: 24px;
    font-weight: bold;
    color: #035bad;
}
.social_networks .facebook
{
    float: right;
    font-size: 24px;
    font-weight: bold;
    color: #035bad;
}

/* INDEX 2 */
.slider
{
    position: relative;
}
.slider img
{
    width: 100%;
}
.slide_l
{
    position: absolute;
    width: 69px;
    height: 88px;
    background: url('../images/slide_l.png') no-repeat;
    top: 50%;
    left: 0px;
    margin-top: -44px;
}
.slide_r
{
    position: absolute;
    width: 69px;
    height: 88px;
    background: url('../images/slide_r.png') no-repeat;
    top: 50%;
    right: 0px;
    margin-top: -44px;
}
.compete_wrapper
{
    padding: 32px 32px 0px 32px;
    background: url('../images/compete_shadow2.png') repeat-x;
    font-size: 30px;
}
ul.events_list
{
    list-style: none;
    padding-left: 0px;
    background-color: #f9f9f5;
    border: 1px solid #dedede;
}
ul.events_list li
{
    font-size: 25px;
    font-weight: bold;
    padding: 16px 20px;
    border-bottom: 1px solid #dedede;
}
ul.events_list li a
{
    color: #035bad;
}
ul.events_list li img
{
    float: right;
    margin-top: 8px;
}
@media (max-width: 768px) {
    .col-3, .col-2 {
        padding-left: 0px;
    }

    .navigation .col-3.menu {
        margin-left: -20px;
        margin-right: 35px;
    }

    .navigation .col-3.shopping_cart {
        margin-left: -15px;
    }

    .navigation .col-2.search {
        margin-right: -15px;
    }

    .slider-h3-yellow {
        position: absolute;
        left: 4%;
        margin-left: 0px;
        z-index: 999;
        top: 83%;
        text-decoration: none;
    }

        .slider-h3-yellow h3 {
            display: block;
            float: left;
            min-width: 300px;
            background-color: #ffc600;
            height: auto;
            padding: 8px 13px 3px 13px;
            color: #000;
            font-family: 'gothambookregular';
            font-size: 45px;
        }

        .slider-h3-yellow img {
            display: block;
            float: left;
            position: absolute;
            left: 100%;
            bottom: 11%;
            width: 20%;
        }
}
.module {
        padding: 0px 32px 32px 32px;
        background-color: #fff;
}
.border-shadow {
        background: url('../images/bg-module.png') repeat-x;
        background-position: bottom;
        position: relative;
        z-index: 9999;
        display: block;
        padding-bottom: 5px;
        min-width: 260px;
        max-width: 990px;
}
.inner {
         padding: 20px 10px 20px 10px;
         font-size: 33px;   
         border: 1px solid #dedede;
         text-align: center;
         
}

.module-img {
        width: 100%;
}
}
/*Compete page*/
    .slider-h3-yellow {
        position: absolute;
        left: 4%;
        margin-left: 0px;
        z-index: 999;
        top: 83%;
        text-decoration: none;
    }

        .slider-h3-yellow h3 {
            display: block;
            float: left;
            min-width: 300px;
            background-color: #ffc600;
            height: auto;
            padding: 8px 13px 3px 13px;
            color: #000;
            font-family: 'gothambookregular';
            font-size: 45px;
        }

        .slider-h3-yellow img {
            display: block;
            float: left;
            position: absolute;
            left: 100%;
            bottom: 11%;
            width: 20%;
        }

.module {
        padding: 0px 32px 32px 32px;
        background-color: #fff;       
}
.border-shadow {
        background: url('../images/bg-module.png') repeat-x;
        background-position: bottom;
        position: relative;
        z-index: 9999;
        display: block;
        padding-bottom: 5px;
        min-width: 260px;
        max-width: 990px;
}
.inner {
         padding: 20px 10px 20px 10px;
         font-size: 33px;   
         border: 1px solid #dedede;
         text-align: center;
         background: none;
         background-color: #fff;
}

.module-img {
        width: 100%;
}
}
      @media (max-width: 640px) {
.slider-h3-yellow {
        position: absolute;
        left: 5%;
        margin-left: 0px;
        z-index: 999;
        top: 81%;
        text-decoration: none;
        }


.slider-h3-yellow h3 {
        display: block;
        float: left;
        min-width: 300px;
        background-color: #ffc600;
        height: auto;
        padding: 8px 13px 3px 13px;
        color: #000;
        font-family: 'gothambookregular';
        font-size: 45px;
}

.slider-h3-yellow img {
            display: block;
            float: left;
            position: absolute;
            left: 100%;
            bottom: 11%;
            width: 20%;
 }
.inner {
    padding: 20px 10px 20px 10px;
    font-size: 29px;
    border: 1px solid #dedede;
    text-align: center;
    background: none;
    background-color: #fff;
}
}

       @media (max-width: 480px) {
             .slider-h3-yellow {
        position: absolute;
        left: 7%;
        margin-left: 0px;
        z-index: 999;
        top: 74%;
        text-decoration: none;
    }
    }
    @media (max-width: 768px) {
        .col-3, .col-2 {
            padding-left: 0px;
        }

        .navigation .col-3.menu {
            margin-left: -20px;
            margin-right: 35px;
        }

        .navigation .col-3.shopping_cart {
            margin-left: -15px;
        }

        .navigation .col-2.search {
            margin-right: -15px;
        }
    }

    @media (max-width: 643px) {
        .single_event_wrapper .event_name {
            font-size: 30px;
            padding: 10px 12px 0px 12px;
        }
    }
    /*@media (max-width: 615px){
	.navigation .more, .navigation .home, .navigation .search{margin-right: 0px;}	
}*/
    @media (max-width: 576px) {
        .single_event_wrapper .event_name {
            font-size: 28px;
        }
    }

    @media (max-width: 556px) {
        .navigation.row {
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    @media (max-width: 540px) {
        .single_event_wrapper .event_name {
            font-size: 25px;
            padding: 13px 12px 0px 12px;
        }
    }

    @media (max-width: 515px) {
        .single_event_wrapper .event_name {
            font-size: 19px;
        }
    }

    @media (max-width: 488px) {
        /*.hide_on_small{display: none;}*/
        .single_event_wrapper .event_name {
            font-size: 17px;
            padding: 18px 12px 0px 12px;
        }
    }
    
/*events-hub-page -*/

.event-content-mini h3
{
    font-family: Arial,Helvetica;
    font-size: 18px;
    color: #035bad;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 15px;
    line-height: 24px;
}
.event-content-mini
{
border-top: 1px solid #dbd7d8;
width:102%;
    }
.event-content-mini-wrapper
{

}
.event-content-mini .event-content-mini-left
{
    float: left;
    width:190px;
    text-align:left;
}
.event-content-mini .event-content-mini-left .event-list-left
{
    float: left;
    padding:15px;
    list-style-type: none;
}
.event-content-mini .event-content-mini-left .event-list-left li
{
    font-family: Arial,Helvetica;
    font-size: 14px;
    color: #280b00;
    padding-bottom: 2px;
}

.event-content-mini .event-content-mini-left .event-list-left li .bold-text
{
    font-family: Arial,Helvetica;
    font-size: 14px;
    color: #280b00;
    font-weight: bold;
    list-style-type: none;
}

.event-content-mini .event-content-mini-right
{
    padding-right: 15px;
    padding-bottom: 20px;
    float: right;
}
.event-content-mini .event-content-mini-right .event-list-right
{
    list-style-type: none;
    float:left;
    padding:12px;
}

.event-content-mini .event-content-mini-right .event-list-right li
{
    font-family: Arial,Helvetica;
    font-size: 14px;
    color: #280b00;
    line-height: 18px;
}

.event-content-mini .event-content-mini-right .event-list-right li .bold-text
{
    font-family: Arial,Helvetica;
    font-size: 14px;
    color: #280b00;
    font-weight: bold;
}
.events-search-wrapper
{
    border-bottom: 1px solid #f9f9f5;
    min-height: 140px;
}
.events-search-right-content
{
    float: right;
    width:48%;
  
}
.events-search-left-content
{
    float: left;
    width:48%;

}
.events-search-bottom-content
{
    width:100%;
    padding-top: 20px;
}
.events-search-bottom-left
{
    float: left;
    
}
.events-search-bottom-right
{
  
}
.events-search-dropdown-item
{
    width: 90%;
    font-size: 18px;
}
.blue-search-btn
{
    padding: 7px 10px 7px 10px;
    background-color: #2a90ee;
    color: white;
    font-family: Arial,Helvetica;
    font-size: 16px;
    border: none;
    float: right;
}
.single_event_wrapper .event_information_hub {

    background: #f9f9f5;
    border: 1px solid #dedede;
    padding: 28px 20px 0px 0px;
    font-size: 24px;
    line-height: 20px;
    position: relative;
    overflow: hidden;
}

/*Main-nav*/

.main-nav #search_form {
        background-color:#2a90e8;
        padding:20px 30px 20px 30px;
        height: 100px;
        width: 100%;
}
#search_form .search_inp {
    width:94%;
    height:60px;
    float:left;

}
#search_form .search_inp input {
    width:100%;
    height:60px;
    float:left;
    line-height: 13px;
    font-family:Arial;
    font-size:16px;
}
#search_form .nav_btn {
    float:left;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #000;
    border-radius: 0px;
    display: block;
    padding: 12px 7px;
}
.main-nav .row {
    padding-left: 32px;
    padding-right: 34px;
}
.main-nav .compete_menu {
    padding-top: 4px;
    background-color:#1560aa;
    color: #fff;
    font-size: 45px;
    width: 100%;
    margin-left:0px;
}
.main-nav .compete_menu a {
    color: #FFF;
}
.main-nav .compete_menu a img {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}
.left0 {
    padding-left:0px!important;
    padding-right:0px!important;
}
.main-nav .row ul.events_list li a {
    color: #035bad;
    padding-left:30px;
}
.main-nav .row ul.events_list {
    margin-bottom:0px;
}
.module-image-area {
    position:relative;
    border-top: 2px solid #d1cdce;
    border-width: medium;
}
 @media (max-width: 510px) {
        .main-nav #search_form {
        background-color:#2a90e8;
        padding:20px 30px 20px 30px;
        width: 100%;
        max-width: 510px;
}
#search_form .search_inp {
    width:385px;
    height:60px;
    float:left;

}
#search_form .search_inp input {
    width:385px;
    height:60px;
    float:left;
    line-height: 13px;
    font-family:Arial;
    font-size:16px;
}
#search_form .nav_btn {
    float:left;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #000;
    border-radius: 0px;
    display: block;
    padding: 12px 7px;
}

    }
 .event-hub-page-padded
{
    padding:0px 32px 32px 32px!important;
    }
.hub-page
{
    list-style: none!important;
padding-left: 0px!important;
background-color: #217ccd!important;
border: 1px solid #dedede!important;
    }
ul.hub-page li a
{
    color:White;
    }

  @media (max-width: 778px) {
         .main-nav #search_form {
        background-color:#2a90e8;
        padding:20px 30px 20px 30px;
        width: 100%;
        max-width: 778px;
}
#search_form .search_inp {
    width:92%;
    height:60px;
    float:left;

}
#search_form .search_inp input {
    width:100%;
    height:60px;
    float:left;
    line-height: 13px;
    font-family:Arial;
    font-size:16px;
}
#search_form .nav_btn {
    float:left;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #000;
    border-radius: 0px;
    display: block;
    padding: 12px 7px;
}
    }
  @media (max-width: 727px){
#search_form .search_inp {
    width: 91%;
    height: 60px;
    float: left;
}
}
@media (max-width: 486px){
#search_form .search_inp {
    width: 87%;
    height: 60px;
    float: left;
}
}
 @media (max-width: 640px){
#search_form .search_inp {
    width: 90%;
    height: 60px;
    float: left;
}
}
 @media (max-width: 597px){
#search_form .search_inp {
    width: 89%;
    height: 60px;
    float: left;
}
}
  @media (max-width: 552px){
#search_form .search_inp {
    width: 88%;
    height: 60px;
    float: left;
}
}
  @media (max-width: 552px){
#search_form .search_inp {
    width: 87%;
    height: 60px;
    float: left;
}
}
@media (max-width: 476px){
#search_form .search_inp {
    width: 86%;
    height: 60px;
    float: left;
}
}
@media (max-width: 449px){
#search_form .search_inp {
    width: 85%;
    height: 60px;
    float: left;
}
}
@media (max-width: 425px){
#search_form .search_inp {
    width: 84%;
    height: 60px;
    float: left;
}
}
.events-search-textbox-item{
    padding: 10px 10px 10px 10px;
    width:100%;
   }
.icon-img-events-hub
{
    padding-right:10px;
  }
.events-search-dropdown-font
{
    font-size: 10px;
    }
.events-hub-image-result
{
    margin-top:10px;
    }
    @media (max-width: 650px) 
    {
        .event-content-mini {
            border-top: 1px solid #dbd7d8;
            width: 106%;
}
    .event-content-mini .event-content-mini-left
        {
            clear:both;
        }
        .event-content-mini .event-content-mini-right {
        padding-right: 15px;
        padding-bottom: 20px;
        float: left;
        }
    }
    @media (max-width: 511px) 
    {
        .event-content-mini {
            border-top: 1px solid #dbd7d8;
            width: 109%;
}
    }

/*index_2_main-nav*/

@media (max-width: 990px) {
    #main-nav-2 .main-nav #search_form {
        background-color: #2a90e8;
        height: 100px;
        width: 100%;
        padding: 0px 30px 0px 30px;
    }
    .module {
        padding: 0px 32px 32px 32px;
        background-color: #fff;       
}
    .border-shadow {
    background: url('../images/bg-module.png') repeat-x;
    background-position: bottom;
    position: relative;
    z-index: 9999;
    display: block;
    padding-bottom: 5px;
    min-width: 260px;
    max-width: 990px;
}
    .header .navigation, .header .logo, .header .compete_menu {
        padding-left: 15px;
        padding-right: 30px;
    }

    #main-nav-2 .pull-left {
        float: left;
        width: 92%;
        background: url('../images/right-shadow.png') repeat-x;
        background-position:right;
    }

        #main-nav-2 .pull-left .main-nav {
            padding-left: 0px;
            padding-right: 0px;
        }

    #main-nav-2 .pull-left {
        float: left;
        width: 84%;
        margin-right: 0px;
        background: url('../images/right-shadow.png');
        background-position: right;
        padding-right:13px;
        position: relative;
        z-index: 9999;
        display: inline-block;
        padding-bottom: 5px;
        max-width: 990px;
        min-height: 1px;
        max-height: 305px;
    }

    #main-nav-2 #search_form .nav_btn {
        float: left;
        padding-right: 15px;
        background-color: #000;
        border-radius: 0px;
        display: block;
        margin-right: 0px;
    }

    #main-nav-2 #search_form .search_inp {
        width: 92%;
        height: 60px;
        float: left;
    }

    #main-nav-2 .pull-right {
        float: right;
        margin-right: 18px;
    }

    #main-nav-2 .main-nav .row {
        padding-left: 47px;
        padding-right: 34px;
    }

    #main-nav-2 .header .navigation, .header .logo, .header .compete_menu {
        padding-left: 0px;
        padding-right: 30px;
        margin-left: 0px;
        margin-right: 0px;
    }

    #main-nav-2 .header .compete_menu a {
        color: #FFF;
        padding-left: 30px;
    }

        #main-nav-2 .header .compete_menu a img {
            float: right;
            padding-top: 20px;
            padding-right: 10px;
        }

    #main-nav-2 .left0 {
        margin-right: 0px;
    }

    #main-nav-2 ul.events_list {
        list-style: none;
        padding-left: 0px;
        background-color: #f9f9f5;
        border: 1px solid #dedede;
        margin-bottom: 0px;
    }

        #main-nav-2 ul.events_list li a {
            color: #035bad;
            padding-left: 50px;
        }
.slider-h3-yellow {
    position: absolute;
    left: 4%;
    margin-left: 0px;
    z-index: 999;
    top: 83%;
    text-decoration: none;
    margin-top: 9px;
}
}
@media (max-width: 910px) {
     #main-nav-2 #search_form .search_inp {
        width: 85%;
        height: 60px;
        float: left;
    }
.slider-h3-yellow {
    position: absolute;
    left: 4%;
    margin-left: 0px;
    z-index: 999;
    top: 83%;
    text-decoration: none;
    margin-top: 6px;
}
}
@media (max-width: 880px) {
     #main-nav-2 #search_form .search_inp {
        width: 88%;
        height: 60px;
        float: left;
    }

}
@media (max-width: 768px) {
    #main-nav-2 #search_form .search_inp {
        width: 88%;
        height: 60px;
        float: left;
    }
.slider-h3-yellow {
    position: absolute;
    left: 4%;
    margin-left: 0px;
    z-index: 999;
    top: 83%;
    text-decoration: none;
    margin-top:-11px;
}
}
@media (max-width: 690px){ #main-nav-2 #search_form .search_inp {
    width: 85%;
    height: 60px;
    float: left;
}
 #main-nav-2 .pull-left {
    float: left;
    width: 82%;
    margin-right: 0px;
}
 #main-nav-2 ul.events_list li a {
    color: #035bad;
    padding-left: 30px;
}
 ul.events_list li {
    font-size: 21px;
    font-weight: bold;
}
 #main-nav-2 .header .compete_menu a img {
    float: right;
    padding-top: 20px;
    padding-right: 10px;
}
}
@media (max-width: 600px){ #main-nav-2 #search_form .search_inp {
    width: 82%;
    height: 60px;
    float: left;
}
 #main-nav-2 .pull-left {
    float: left;
    width: 79%;
    margin-right: 0px;
}
 #main-nav-2 .header .compete_menu a img {
    float: right;
    padding-top: 15px;
    padding-right: 10px;
}

 ul.events_list li img {
    float: right;
    margin-top: 1px;
}
     ul.events_list li {
    font-size: 16px;
    font-weight: bold;
}
}
@media (max-width: 560px){ #main-nav-2 #search_form .search_inp {
    width: 81%;
    height: 60px;
    float: left;
}
 #main-nav-2 .pull-left {
    float: left;
    width: 80%;
    margin-right: 0px;
}
 .header .compete_menu {
    color: #fff;
    font-size: 42px;
}
 #main-nav-2 .header .navigation, .header .logo, .header .compete_menu {
    padding-left: 0px;
    padding-right: 30px;
    margin-left: 0px;
    margin-right: 0px;
}
 .slider-h3-yellow {
    position: absolute;
    left: 4%;
    margin-left: 0px;
    z-index: 999;
    top: 83%;
    text-decoration: none;
    margin-top: -25px;
}
}
@media (max-width: 540px){ #main-nav-2 #search_form .search_inp {
    width: 78%;
    height: 60px;
    float: left;
}
 #main-nav-2 .pull-left {
    float: left;
    width: 77%;
    margin-right: 0px;
}
 .header .compete_menu {
    color: #fff;
    font-size: 37px;
}
 #main-nav-2 .header .navigation, .header .logo, .header .compete_menu {
    padding-left: 0px;
    padding-right: 30px;
    margin-left: 0px;
    margin-right: 0px;
}
  ul.events_list li img {
    float: right;
    margin-top: 0px;
}
     ul.events_list li {
    font-size: 14px;
    font-weight: bold;
}
}
@media (max-width: 500px){ #main-nav-2 #search_form .search_inp {
    width: 74%;
    height: 60px;
    float: left;
}
 #main-nav-2 .pull-left {
    float: left;
    width: 72%;
    margin-right: 0px;
}
 .header .compete_menu {
    color: #fff;
    font-size: 30px;
}
 #main-nav-2 .header .navigation, .header .logo, .header .compete_menu {
    padding-left: 0px;
    padding-right: 30px;
    margin-left: 0px;
    margin-right: 0px;
}
 #main-nav-2 ul.events_list li a {
    color: #035bad;
    padding-left: 20px;
}
 #main-nav-2 .header .compete_menu a img {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}
      ul.events_list li {
    font-size: 12px;
    font-weight: bold;
}
.inner {
    padding: 20px 10px 20px 10px;
    font-size: 27px;
    border: 1px solid #dedede;
    text-align: center;
    background: none;
    background-color: #fff;
    }
}
#main-nav-2 .header .navigation {
    position: absolute;
    z-index: 99999;
    width:100%;
}
@media (max-width: 460px){ #main-nav-2 #search_form .search_inp {
    width: 72%;
    height: 60px;
    float: left;
}
 #main-nav-2 .pull-left {
    float: left;
    width: 72%;
    margin-right: 0px;
}
 .header .compete_menu {
    color: #fff;
    font-size: 33px;
}
 #main-nav-2 .header .navigation, .header .logo, .header .compete_menu {
    padding-left: 0px;
    padding-right: 30px;
    margin-left: 0px;
    margin-right: 0px;
}
  ul.events_list li img {
    float: right;
    margin-top: 0px;
}
     ul.events_list li {
    font-size: 14px;
    font-weight: bold;
}
     #main-nav-2 .header .compete_menu a img {
    float: right;
    padding-top: 15px;
    padding-right: 10px;
}
}
@media (max-width: 400px){ #main-nav-2 #search_form .search_inp {
    width: 72%;
    height: 60px;
    float: left;
}
 #main-nav-2 .pull-left {
    float: left;
    width: 80%;
    margin-right: 0px;
}
 .header .compete_menu {
    color: #fff;
    font-size: 32px;
}
 #main-nav-2 .header .navigation, .header .logo, .header .compete_menu {
    padding-left: 0px;
    padding-right: 30px;
    margin-left: 0px;
    margin-right: 0px;
}
 #main-nav-2 .header .compete_menu a {
    color: #FFF;
    padding-left: 23px;
}
  ul.events_list li img {
    float: right;
    margin-top: 0px;
}
     ul.events_list li {
    font-size: 14px;
    font-weight: bold;
}
      #main-nav-2 .header .compete_menu a img {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}
}
@media (max-width: 380px){ #main-nav-2 #search_form .search_inp {
    width: 70%;
    height: 60px;
    float: left;
}
 #main-nav-2 .pull-left {
    float: left;
    width: 80%;
    margin-right: 0px;
}
 .header .compete_menu {
    color: #fff;
    font-size: 32px;
}
 #main-nav-2 .header .navigation, .header .logo, .header .compete_menu {
    padding-left: 0px;
    padding-right: 30px;
    margin-left: 0px;
    margin-right: 0px;
}
  ul.events_list li img {
    float: right;
    margin-top: 0px;
}
     ul.events_list li {
    font-size: 14px;
    font-weight: bold;
}
}
@media (max-width: 360px){ #main-nav-2 #search_form .search_inp {
    width: 70%;
    height: 60px;
    float: left;
}
 #main-nav-2 .pull-left {
    float: left;
    width: 80%;
    margin-right: 0px;
}
 .header .compete_menu {
    color: #fff;
    font-size: 28px;
}
 #main-nav-2 .header .navigation, .header .logo, .header .compete_menu {
    padding-left: 0px;
    padding-right: 30px;
    margin-left: 0px;
    margin-right: 0px;
}
  ul.events_list li img {
    float: right;
    margin-top: 0px;
}
     ul.events_list li {
    font-size: 14px;
    font-weight: bold;
}
}
@media (max-width: 360px){ #main-nav-2 #search_form .search_inp {
    width: 68%;
    height: 60px;
    float: left;
}
 #main-nav-2 .pull-left {
    float: left;
    width: 80%;
    margin-right: 0px;
}
 .header .compete_menu {
    color: #fff;
    font-size: 27px;
}
 #main-nav-2 .header .navigation, .header .logo, .header .compete_menu {
    padding-left: 0px;
    padding-right: 30px;
    margin-left: 0px;
    margin-right: 0px;
}
  ul.events_list li img {
    float: right;
    margin-top: 0px;
}
     ul.events_list li {
    font-size: 14px;
    font-weight: bold;
}
}
#main-nav-2 .header .navigation {
background: #2a90e8;
padding: 0px 0;
}
#main-nav-2 .pull-left .main-nav {
padding-left: 0px;
padding-right: 0px;
}